body {
  background-color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 40rm;
  min-height: 40rm; }

h2 {
  font-size: 20px;
  min-height: 20px; }

h3 {
  font-size: 14px;
  min-height: 14px; }

h3, h2, h1 {
  font-family: "Antic Slab", serif; }

.row {
  display: flex;
  width: 100%; }
  .row::after {
    display: block;
    clear: both;
    content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.parent-element, .child-element {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3); }

.child-element {
  height: 20px;
  position: absolute; }

div.intro {
  display: block;
  width: 100%;
  overflow: hidden; }
  div.intro div.row.welcome {
    background-color: #005F60; }
    div.intro div.row.welcome div.introduce {
      padding: 120px 0; }
      div.intro div.row.welcome div.introduce h2 {
        color: #FFFED0; }
      div.intro div.row.welcome div.introduce h1 {
        color: #d6bb55; }
        div.intro div.row.welcome div.introduce h1 span.toStyle {
          color: white; }
      div.intro div.row.welcome div.introduce h3 {
        color: darker(#007FB0, 10%);
        line-height: 1.3; }
    div.intro div.row.welcome div.sample {
      position: relative; }
      div.intro div.row.welcome div.sample img.introPic {
        position: absolute;
        transition: 0.5s;
        left: -250px;
        top: 30px;
        box-shadow: -3px 3px 7px 5px rgba(0, 0, 0, 0.4); }
        div.intro div.row.welcome div.sample img.introPic:hover {
          transition: 0.5s;
          left: 20px; }

@media screen and (max-width: 618px) {
  div.intro {
    width: 100%; }
    div.intro div.row.welcome {
      display: block;
      padding: 0;
      margin: 0;
      justify-content: center;
      width: 100%;
      padding-bottom: 50px; }
      div.intro div.row.welcome div.introduce {
        padding: 0;
        width: 100%; }
        div.intro div.row.welcome div.introduce h1, div.intro div.row.welcome div.introduce h2, div.intro div.row.welcome div.introduce h3 {
          padding: 20px 20px 0px; }
      div.intro div.row.welcome div.sample {
        display: none; } }
div.images {
  display: block;
  box-sizing: border-box; }
  div.images div.row {
    height: 200px; }
    div.images div.row div.main {
      position: relative;
      animation: movingDown 0.6s;
      border: 0.5px solid #005F60;
      background: white;
      background: linear-gradient(90deg, #FFFED0 0%, #f07c5d 100%); }
      div.images div.row div.main:hover {
        animation: moving 0.6s;
        box-shadow: 0 10px 7px 1px #005F60;
        bottom: 10px;
        cursor: pointer; }
      div.images div.row div.main a {
        text-decoration: none; }
        div.images div.row div.main a div.col-7, div.images div.row div.main a div.col-5 {
          overflow: hidden; }
          div.images div.row div.main a div.col-7 img, div.images div.row div.main a div.col-5 img {
            text-align: center;
            position: absolute;
            top: 20%; }
          div.images div.row div.main a div.col-7 .iconAlbum, div.images div.row div.main a div.col-5 .iconAlbum {
            position: absolute;
            bottom: 20px;
            left: 20px; }
            div.images div.row div.main a div.col-7 .iconAlbum h2, div.images div.row div.main a div.col-5 .iconAlbum h2 {
              font-size: 14px;
              color: #009193; }
            div.images div.row div.main a div.col-7 .iconAlbum h1, div.images div.row div.main a div.col-5 .iconAlbum h1 {
              font-size: 20px;
              color: #241e08; }

@keyframes moving {
  0% {
    bottom: 0;
    box-shadow: 0 0 7px 1px #005F60; }
  100% {
    bottom: 10px;
    box-shadow: 0 10px 7px 1px #005F60; } }
@keyframes movingDown {
  0% {
    bottom: 10px;
    box-shadow: 0 10px 7px 1px #005F60; }
  100% {
    bottom: 0;
    box-shadow: 0 0 7px 1px #005F60; } }
@media screen and (max-width: 618px) {
  div.images div.row.main {
    display: inline-block;
    width: 100%; }
    div.images div.row.main div.col-4 {
      display: block;
      width: 100%; } }
div.DA-intro {
  display: block;
  background-color: #FFFED0; }
  div.DA-intro div.DA-intro-inside {
    background-color: #005F60;
    text-align: center;
    line-height: 3.5;
    padding: 80px 0px; }
    div.DA-intro div.DA-intro-inside h1 {
      color: #FFFED0;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8); }
    div.DA-intro div.DA-intro-inside div.banner {
      width: 80%;
      margin: auto;
      display: block;
      background-color: #F4A28C;
      -webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
      border-radius: 7px 7px 7px 7px;
      -moz-border-radius: 7px 7px 7px 7px;
      -webkit-border-radius: 7px 7px 7px 7px; }
      div.DA-intro div.DA-intro-inside div.banner h3 {
        color: #005F60; }
    div.DA-intro div.DA-intro-inside div.space {
      width: 100%;
      height: 20px;
      background-color: #005F60; }

div.DA-gallery {
  overflow: hidden;
  background-color: #EADCA7; }
  div.DA-gallery div.row {
    justify-content: center;
    padding-right: 30px; }
    div.DA-gallery div.row div.wImage {
      margin: 30px 40px;
      display: block; }
      div.DA-gallery div.row div.wImage div.img-container {
        transition: 0.5s;
        height: 300px;
        display: inline-flex;
        position: relative;
        -webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.75);
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        border: 1px solid black; }
        div.DA-gallery div.row div.wImage div.img-container img {
          transition: 0.5s;
          height: 100%;
          display: inline-table;
          margin: auto;
          background-color: white; }
        div.DA-gallery div.row div.wImage div.img-container div.description {
          position: absolute;
          bottom: 0;
          display: none;
          width: 100%; }
        div.DA-gallery div.row div.wImage div.img-container:hover {
          cursor: pointer;
          transition: 0.5s;
          transform: scale(1.1);
          background-color: gray; }
          div.DA-gallery div.row div.wImage div.img-container:hover img {
            filter: brightness(50%); }
          div.DA-gallery div.row div.wImage div.img-container:hover div.description {
            background-color: rgba(0, 0, 0, 0.3);
            display: block;
            height: 100px; }
            div.DA-gallery div.row div.wImage div.img-container:hover div.description h1 {
              margin-left: 20px;
              color: #F4A28C; }
            div.DA-gallery div.row div.wImage div.img-container:hover div.description h3 {
              margin-left: 20px;
              color: #EADCA7; }

@media screen and (max-width: 618px) {
  div.DA-gallery div.row {
    display: block;
    padding: 0; }
    div.DA-gallery div.row div.wImage {
      display: block;
      margin: 0;
      text-align: center;
      width: 100%;
      padding: 30px; }
    div.DA-gallery div.row div.img-container {
      width: auto; }
      div.DA-gallery div.row div.img-container img {
        width: 100%;
        height: auto;
        object-fit: cover; }
      div.DA-gallery div.row div.img-container:hover {
        text-align: left; } }
nav {
  width: 100%; }
  nav div.navbar {
    background-color: white;
    overflow: hidden; }
    nav div.navbar ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0px 10px 40px; }
      nav div.navbar ul li.name {
        flex-grow: 18; }
      nav div.navbar ul li.about {
        flex-grow: 1; }
      nav div.navbar ul li.contacts {
        flex-grow: 1; }
      nav div.navbar ul li a {
        box-sizing: border-box;
        font-family: "Homenaje", sans-serif;
        color: #8c7f6d;
        text-decoration: none;
        text-transform: uppercase;
        border-botom: 1px solid transparent; }
        nav div.navbar ul li a.non {
          color: #36312A;
          font-size: 20px; }
        nav div.navbar ul li a:hover:not(.non) {
          border-bottom: 1px solid #36312A;
          color: #36312A;
          transition: 0.2s; }

@media screen and (max-width: 618px) {
  nav div.navbar ul {
    padding: 10px; } }

/*# sourceMappingURL=app.css.map */
