div.intro
    display : block
    width : 100%
    overflow: hidden
    div.row.welcome
        background-color : $base-color-five
        div.introduce
            padding : 120px 0
            h2
                color : $base-color-two
            h1
                color : darken($base-color-one, 20%)
                span.toStyle
                    color : white
            h3
                color : darker($base-color-three, 10%)
                line-height: 1.3
        div.sample
            position : relative
            img.introPic
                position : absolute
                transition : 0.5s
                left : -250px
                top : 30px
                box-shadow: -3px 3px 7px 5px rgba(0, 0, 0, 0.4)
                &:hover
                    transition : 0.5s
                    left : 20px

@media screen and (max-width : 618px)
    div.intro
        width : 100%
        div.row.welcome
            display : block
            padding : 0
            margin : 0
            justify-content: center
            width : 100%

            padding-bottom: 50px
            div.introduce
                padding : 0
                width : 100%
                h1, h2, h3
                    padding : 20px 20px 0px
            div.sample
                display : none
