div.intro
    display : block
    width : 100%
    box-sizing: border-box
    overflow: hidden
    div.row.welcome
        background-color : $base-color-five
        padding : 150px 0


        h2
            color : $base-color-two
        h1
            color : darken($base-color-one, 20%)
            span.toStyle
                color : white
